
.Top{
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 2;
    box-sizing: border-box  ;
    font-family: 'PT Sans', sans-serif;
    margin:0;

}

.Navbar{
    width:100%;
    height:80px;
    top:0;
    max-height: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: white;
    
    padding-top: 10px;
}

.Navbar .Header{
    display: flex;
    justify-content: center;
    padding-right: 0px;
    width: 100%;
    z-index: 2;
    
}
    .search-list {
         
    background-color: wheat;
    opacity: 0.8;
    padding-top: 5px;
    padding-left: 10px;
    display:block;
    }
 .Search-bar
{       
    padding-left: 200px;
    display: block;
    max-height: auto;
}
.Search-bar p{
    padding-top: 20px;
}
#n .Search-form 
{  
    width:300px;
    height: auto;
}

.button{
    width: 80px;
    height: 35px;
    border:transparent;
    border-radius: 0;
}
.logo{
    margin-left: 100px;
}


.responsive{  
    width: 100%;
    height: auto;
}

.Header .navlink{
            
    text-decoration: none;

}
.Header .links{
    max-height: 60px;
    margin-right: 20px;
    width:100%;
    align-items: center; 
    display: flex;
}
.Header #nothidden .link{
    max-height: 80px;
    top:0;
    margin-left: auto; 
    margin-right: 20px;
    color:black;   
}

.Header .hider{
    display: none;
    

}

   
.Navbar .Header span{
    color: black;
    font-size: 15px;
    padding-top: 10px;

}
.Navbar .Header .links span:hover{
    color:rgb(167, 82, 25);    
}


.Navbar .Header ul{
    display: flex;
    list-style-type:none; 
    padding-right: 40px;   
}


.dropdown-menu .category{
border-bottom:dotted 1px;
color:black;
}
.Navbar .Header #hidder{
display: flex;

}
#n .Search-form  .search{
border-radius: 0px;    
}

.Navbar .Header #nothidden ul li{
margin-left: 10px;
text-decoration: none;
border-left: solid 1px cadetblue;
padding-left: 5px;
}

@media only screen and (max-width: 960px)
{   
    .Navbar  .Header .links 
    {
        display: none;
    }
    .Navbar  .Header .hider
    {   
        display: block;
        margin-left: auto; 
        margin-right: 20px;
        border:transparent;
        font-size: 1.8rem;
        cursor: pointer;
       
    }
    .Navbar .Header #hidden .links{
           display: flex;
          flex-direction: column;
          width: auto;
          height: 140px;
          position: absolute;
          top: 40px;
          opacity: 1;
          max-height: 120px;
          overflow-y: auto;
    }
    .Navbar .Header #hidden .links link{
        margin-left:0px
 }
    .Navbar  .Header #hidden
    {   z-index: 1;
        position: absolute;
        right:0;
        top:50px;
        height: 255px;
        max-height: 200px;
        width: 140px;
        opacity: 1;    
        background-color:rgb(216, 214, 214);
        display: flex;
        border-radius: 20px;
        flex-direction: column;
    }
    .Navbar .Header #hidden ul{
        display: block;
        
        width:auto;
             
    }
    .Navbar  .Header #hidden .navlink
    {   
        text-align: center;
        padding-bottom: 2px;
        width: 100%;
        display:flex;
        flex-direction: column;
      
    }
    .Navbar  .Header #hidden li
    {   
        margin-top:10px;
        font-size: 12px;
        padding-bottom: 5px;
        width: 120px;
        height:auto;
    }
    .Navbar  .Header #hidden .navlink:hover
    {   height:auto;
        background-color:rgb(190, 190, 190);
       
    }
    .Search-bar{
        padding-left: 10px;
        display: flex;
        flex-direction: column;
       
        max-height: auto;
    }
    
    .Search-form{
        max-width: 200px;
        display: flex;
        align-items: center;
        margin-left: 20px;  
    }
   .Search-bar .search{ 
        width: 120px;
        border-radius: 0px;
    }   
    .button{
        width:40px;
        height: 34px;
    }
    .logo{
        margin-left: 0px;
    }
}


.NavbarBody{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
    max-height: 40px;
    background-color:rgb(31, 29, 29);
    align-items: center;
justify-content: start;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 1.2rem;
  box-shadow: 0 0 16px rgba(32, 31, 31, 0.15);
}

.menu-icon {
    display: none;
  }
  
      .nav-links {
        
        color: white;
        text-decoration: none;
        padding: 0.5rem 1rem;
      }
  
      .nav-links:hover {
          
        color: white;
        text-decoration: none;
        opacity: 0.5;
      }
  
.NavbarBody li{
    display: inline;
    padding: 10px;
    margin: 4px;
    font-size:small;
    font-family: Arial, Helvetica, sans-serif;
    
}
.NavbarBody .is-active{
    font-weight: bold;
    text-decoration: none;
    font-size:15px;
}
.NavbarBody .dropdown .dropdown-menu{
    width:auto;
    height:auto;
    
}
.NavbarBody .dropdown:hover .dropdown-menu{
display:block;
background-color:rgb(221, 218, 218);
color:black;    
width: auto;
}
    
    
 @media screen and (max-width: 960px) {
         .NavbarItems {
          position: relative;
        }
      
        .nav-menu {
          display: flex;
          flex-direction: column;
          width: 200px;
          height: 100vh;
          position: absolute;
          top: 39px;
          right: 130%;
          opacity: 1;
          transition: all 0.8s ease;
          max-height: 400px;
          overflow-y: auto;
        }
      
        .nav-menu.active {
          background: #242222;
          left: 0;
          display: flex;
          flex-direction: column;
          opacity: 1;
          transition: all 0.5s ease;
          z-index: 1;
          
        }
        .nav-menu.active li{
            margin-left: -35px;
          }
      
        .nav-links { 
          width: 100%;
          display:flex;
          flex-direction: column;
          
        }
      
        .nav-links:hover {
          background-color: #1888ff;
          border-radius: 0;
          width: 100%;
            
        }
        .menu-icon {
          display: block;
          position: absolute;
          top: 5px;
          right: 0;
          font-size: 1.8rem;
          cursor: pointer;
          color:white;
        }
        .dropdown-menu{
      
            left: 0;
        }
        .dropdown-menu .category{
            padding-left: 40px;
        }
      }
     


